[Desktop Entry]
Name=Pilotwings64Recompiled
Type=Application
Terminal=false
Icon=Pilotwings64Recompiled
Exec=Pilotwings64Recompiled
GenericName=Pilotwings64Recompiled
Categories=Game;

